.app {
  display: flex;
}

.sideBar {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid var(--secondary-text);
}

.sideBar button {
  background-color: var(--primary-accent);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.sideBar button:hover {
  background-color: #0e8e6c;
}

.sideBar nav {
  flex-grow: 1;
}

.sideBar p {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-text);
  margin-bottom: 20px;
}

.sideBar ul.history {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideBar ul.history li {
  background-color: var(--secondary-bg);
  color: var(--primary-text);
  padding: 10px 15px;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sideBar ul.history li:hover {
  background-color: var(--primary-bg);
}

.sideBar ul.history li:active {
  background-color: var(--primary-accent);
  color: white;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;

  & li {
    list-style-type: none;
  }
}

.main {
  height: 100vh;
  width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}

.info {
  color: var(--primary-text);
  font-size: 12px;
  padding: 10px;
}

.bottomSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.inputContainer {
  position: relative;
  width: 100%;
  max-width: 756px;
}

#submit {
  position: absolute;
  bottom: 8px;
  right: 0px;
  cursor: pointer;
}